# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de ambiente
.env
.venv
.env.local
venv/
ENV/

# Testes
.coverage
htmlcov/
.pytest_cache/
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Logs
*.log
logs/

# Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Arquivos temporários
/tmp/*
!/tmp/.gitkeep

# Arquivos de banco de dados
*.db
*.sqlite3

# Arquivos específicos deste projeto
**/uploads/*
!**/uploads/.gitkeep

#code_contents.txt
code_contents.txt