fastapi
uvicorn
motor
python-dotenv
pydantic
langgraph
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-groq
langchain-nvidia-ai-endpoints
pymongo
langsmith
uvicorn[standard]
websockets
SQLAlchemy>=1.4
python-dotenv
msal
requests
bs4
websockets
python-multipart
pytest
pytest-asyncio
